<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Business Sales</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<style>


    body
    {
        background-color: #f6e294;
        font-family: 'Roboto', sans-serif;

        margin:0;
        padding:0;
        background:url("../static/trianglify.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }

</style>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 10vh">
    <a class="navbar-brand" href="#"><img src="../static/HIVE-LOGO.png" style="max-height: 15vh; max-width: 15vh;"></a>
</nav>

<div class="container" style="background-color: transparent;">
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10" style="background-color: white;">
            <br>
            <div style="text-align: center;">
            <i class="fas fa-broadcast-tower" style="font-size: 100px; text-align: center; color: #f6e294;"></i>
            </div>
            <br>
            <p style="text-align: center;"><em>Performance testing made easy.</em></p>
            <br>

            <div class="card">
              <div class="card-header">
                Enterprise
              </div>
              <div class="card-body">
                <h5 class="card-title">Modern Performance and Load Testing</h5>
                <p class="card-text">Hive is a performance and load testing application built for the cloud. Hive is an all in
                        one testing and visualization application that allows you to create tests that work
                        without stitching together multiple applications. This allows you to build and deploy tests in
                         minutes instead of days with little to no experience.</p>
                  <br>
                  <br>


              </div>
            </div>
            <br>
            <br>


    </div>

</div>

</div>

<div class="navbar navbar-expand-lg navbar-light bg-light" style="height: 10vh;">
    <img src="../static/HIVE-LOGO.png" style="max-height: 100%;"> <br>
    <p style="top: 10px; right: 5px; position: absolute;">Made with <span style="color: red;">&hearts;</span> in Fort Worth, Texas</p>
</div>

</body>
</html>